html{

    background-color: rgba(228, 228, 228, 0.658);

}

body{
    
}

h1{
    font-family: 'Tangerine', serif;
    font-size:82px;
    margin-right: 10px;
    text-shadow: 6px 6px 6px rgb(179, 150, 24);
}

header{
    border-bottom: dotted #000;
    border-width: 2px;
    
    

}   

@keyframes showUp{
    0% {background-color: white; bottom: 1000px; transform: scale(1);}
    100%{background-color: rgb(233, 186, 33); bottom: 0px; transform: scale(1);}
    
}

#popUp{
    position: relative;
    margin: 0 auto;
    display: none;
    padding-top: 10px; 
    text-align: center;
    background-color: rgb(233, 186, 33);
    border-radius: 5px;
    width: 300px;
    height: 220px;
    animation-name: showUp;
    animation-duration: 0.9s;
    z-index: 2;
}

.deleteBook{
    position: absolute;
    bottom: -4px;
}

#exitPopUp{
    position: absolute;
    bottom: 216px;
    left: 287px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 18px;
    width: 18px;
    background-color: red;
    border: solid black 2px;
    border-radius: 50%;
    font-size: 18px;
    color: black;
    cursor: pointer;
    
}
#exitPopUp:hover{
    background-color: rgb(255, 112, 112);
}


#popUpBackground{
    
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    
}



#bookContainer{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 10px 10px 10px;
    
    
}
#addBookButton{
    position: relative;
    text-align: center;
    cursor: pointer;
    font: 70px bold;
    width: 200px;
    height: 200px;
    line-height: 190px;
    border: dotted black;
    border-width: 3px;
    margin: 4px;
    
    
    
}

.book{
    
    position: relative;
    text-align: center;
    cursor: default;
    width: 200px;
    height: 200px;
    border: solid black;
    border-radius: 11%;
    border-width: 3px;
    margin: 4px;
    
    
    
    
    
    
}

#addBookButton:hover{
    color: rgb(91, 91, 202);
    border-color: rgb(91, 91, 202);
}


